# Lombok configuration for Spring Boot 3.x
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.boot.context.properties.ConfigurationProperties
lombok.copyableAnnotations += org.springframework.boot.context.properties.ConstructorBinding
lombok.anyConstructor.addConstructorProperties=true
lombok.addLombokGeneratedAnnotation=true
